@model dka.net5.codesamples.web.Models.PartialViews.PartialViewsUpdateViewModel

<form method="post" asp-action="UpdateFirstName" asp-route-id="@Model.FirstName.Id" class="mb-2">
    <div class="row align-items-center">
        <div class="col-sm-1"><label asp-for="@Model.FirstName.FirstName"></label></div>
        <div class="col-auto">
            <input asp-for="@Model.FirstName.FirstName" class="form-control"/>
            <span asp-validation-for="@Model.FirstName.FirstName" class="text-danger"></span>
        </div>
        <div class="col-auto"><button type="submit" class="btn btn-primary">Save</button></div>
        <input type="hidden" asp-for="@Model.FirstName.Id"/>
        <input type="hidden" asp-for="@Model.LastName.Id"/>
        <input type="hidden" asp-for="@Model.LastName.LastName"/>
    </div>
</form>
